.timeline{
  /* display: flex; */
  margin-left:250px;
}
.timeline .card-holders{
  text-align: -webkit-center;
}

@media screen and (max-width: 12600px) {
  .timeline{
    display: block ;
    margin-left:250px;
  }
  .time-item {
   display: -webkit-box;;
   }
   .time-job{
     border-left:solid 1px;
    min-width: 400px;
    MAX-WIDTH: 800px;
     /* display: flex; */
     text-align: left;
   padding: 20px;
   position: relative;
   overflow-x: hidden;

   }

}
@media screen and (max-width: 770px) {
  .timeline{

    display: block ;
    margin-left:0px;
  }
  .time-item {
    display: block;
   }
   .time-date::after{
     visibility: hidden;
   }
   .time-job:after{
     visibility: hidden;
   }
   .time-job{
     border:none;
   }
}
