.project-group{
  display: flex;
  margin-left:250px;
  display: flex;
text-align: -webkit-center;
flex-wrap: wrap;
}
.project-title{
  position:relative;
margin:0 auto;
left: -122px;
z-index: -1;
}

.project-group .card-holders{
  text-align: -webkit-center;
}
@media screen and (max-width: 1260px) {
  .project-group{
    display: block ;
    margin-left:200px;

  }
  .project-title{
  left:0px;
  }
}
@media screen and (max-width: 770px) {
  .project-group{
    display: block ;
    margin-left:0px;
  }
  .project-title{
  left:0px;
  }
}
.project-subtitle{
  width: 50%;
margin: auto;
}
