.Card {
  margin: 1rem 0;
}

@media screen and (min-width: 771px) {
  .Card {
    margin: 20px;
  }
}
.Card img{
  height :45px;
}
.Card a{
  z-index: 1;
  display: block;
}
 .proj-link{
  z-index: 1;
  display: block;
  background: #feca76;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin: 0;
  cursor: pointer;
  padding: 1em 1.15em;
  color:black;
}
 .proj-link:hover{
background-color:#feb43e;
}
.card-nav{
  display: flex;
    place-content: space-between;
}
.card-border {
    width: 100%;
    max-width: 400px;
    min-width: 0;
    background: #daeae9;
    padding: 0 15px 15px 15px;
    border-radius: 6px;
    position: relative;
    align-self: stretch;
    box-sizing: border-box;
}

@media screen and (min-width: 771px) {
  .card-border {
    width: calc(50% - 40px);
    min-width: 312px;
  }
}
.card-border::after{
    content: '';
    border: 2px solid #000000;
    border-radius: 6px;
    position: absolute;
    top: -10px;
    left: -8px;
    right: 8px;
    bottom: 10px;
    -webkit-transition: all 0.2s ease-in;
       -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
         -o-transition: all 0.2s ease-in;
            transition: all 0.2s ease-in;
}
/* .card-border:hover::after{
  content: '';
    border: 2px solid #000000;
    border-radius: 6px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 1;
 -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
     -ms-transition: all 0.2s ease-out;
      -o-transition: all 0.2s ease-out;
         transition: all 0.2s ease-out;
} */
.stack{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
p.stack-item {
  margin: 8px;
border: solid 2px;
border-radius: 50px;
padding: 6px;
}
.descripition {
    min-height: 100px;
}
