.frame {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1.25rem;
  margin: 0 auto;
}

@media screen and (min-width: 771px) {
  .frame {
    padding: 0 2rem;
    margin-left: 250px; /* clear fixed sidebar */
  }
}
